body {
  font-family: 'TTLakes', sans-serif;
  overflow-x: hidden; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

.img {
  width: 100%; }

.main-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden; }

.btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border: none;
  border-radius: 50%;
  transition: transform .5s, background-color .5s; }
  .btn:hover {
    cursor: pointer;
    background-color: #9A1A1A;
    transform: scale(1.05); }
  .btn__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.header__logo-items .callback-icons {
  display: none; }

.container {
  min-width: 320px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #F8F8F8; }

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

input::-moz-placeholder, textarea::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

input::placeholder, textarea::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC; }

.swiper-pagination {
  position: static;
  margin-top: 10px; }

.burger {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%; }
  .burger::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 11px;
    width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px; }
  .burger::after {
    content: '';
    position: absolute;
    top: 19px;
    left: 11px;
    width: 10px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px; }
  .burger span {
    position: absolute;
    top: 26px;
    left: 11px;
    width: 14px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px; }
  .burger:hover {
    cursor: pointer; }

.link-btn {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 16px; }
  .link-btn .link-btn__circle {
    position: absolute; }
  .link-btn .link-btn__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left .3s; }

.button {
  position: relative;
  display: inline-block;
  width: 119px;
  height: 32px;
  background-color: #FF3E79;
  border: none;
  border-radius: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: background-color .5s, transform .5s; }
  .button button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none; }
    .button button:hover {
      cursor: pointer; }
  .button span {
    position: absolute;
    top: 4px;
    left: 12px; }
  .button-arrow {
    position: absolute;
    top: 11px;
    right: 16px;
    transition: transform .5s; }
  .button:hover {
    cursor: pointer;
    background-color: #9A1A1A;
    transform: scale(1.03); }
    .button:hover .button-arrow {
      transform: translateX(2px); }

.hidden {
  display: none; }

@media (min-width: 1088px) {
  .wrapper {
    margin-left: 320px; }
  .aside .aside__header {
    justify-content: space-between; }
  .aside__btn {
    display: none; }
  .aside {
    transform: translateY(120%); } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: bold;
  src: url(./fonts/TTLakes-Bold.woff); }

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/TTLakes-Medium.woff); }

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/TTLakes-Regular.woff); }

.header {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 88px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D9FFF5; }

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 51px; }

.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__callback-icons {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 96px; }
  .header__callback-icons::before {
    content: '';
    position: absolute;
    height: 32px;
    width: 0;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%); }

@media (min-width: 768px) {
  .header__wrapper {
    padding: 0 20px; }
  .header__logo {
    padding-left: 24px; }
  .header__burger-wrapper::after {
    content: '';
    position: absolute;
    height: 32px;
    width: 0;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    top: 50%;
    left: 88px;
    transform: translateY(-50%); }
  .header__logo-items .callback-icons {
    display: flex;
    justify-content: space-between;
    width: 152px; }
  .header__icons {
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 47%; } }

.header--burger {
  transform: translateY(120%); }

@media (min-width: 1088px) {
  .header {
    display: none; } }


.hero {
  padding-bottom: 24px;
  border-bottom: 1px solid #D9FFF5; }

.hero__heading {
  position: relative; }
  .hero__heading:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    width: 4px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41F6D7; }

.hero {
  padding: 24px 16px; }

.hero__nav-items {
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
  margin-top: 32px;
  -ms-overflow-style: none; }
  .hero__nav-items::-webkit-scrollbar {
    display: none; }
  .hero__nav-items .hero__item {
    display: flex;
    align-items: center;
    height: 40px;
    white-space: nowrap; }
    .hero__nav-items .hero__item:not(:last-child) {
      margin-right: 7px; }

.hero__subtitle {
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  transition: outline-color 1s, background-color 1s; }
  .hero__subtitle:focus {
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF; }
  .hero__subtitle:hover {
    outline: 2px solid #B8FFEC;
    border-radius: 6px; }

.hero__text-container {
  margin-bottom: 16px;
  padding-right: 10px;
  height: 90px;
  overflow: hidden; }
  .hero__text-container .hero__text-content {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21; }
    .hero__text-container .hero__text-content:not(:last-child) {
      margin-bottom: 20px; }

.show-link {
  margin-top: 13px;
  padding-left: 16px;
  margin-bottom: 16px;
  background-image: url(./static/down.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 7px 10px; }
  .show-link:hover {
    background-size: 7px 13px; }
  .show-link__text {
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; }
    .show-link__text:hover {
      cursor: pointer;
      color: #9A1A1A; }

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.hero__callback-btn {
  display: none; }

.hero__main-wrapper {
  margin-top: 24px; }

.hero__main-logo {
  min-height: 176px;
  height: 40vw;
  background-image: url(./static/cps.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.callback--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;
  color: #1B1C21; }
  .callback--btn:not(:last-child) {
    margin-right: 30px; }
  .callback--btn .btn {
    margin-left: 8px; }

@media (min-width: 768px) {
  .hero {
    padding: 24px; }
  .hero__text-container {
    height: 160px;
    padding-right: 36px; }
  .hero__text {
    max-width: 50%;
    height: 100%; }
  .hero__main-logo {
    width: 50%;
    height: 260px;
    border-radius: 6px; }
  .hero__main-wrapper {
    display: flex;
    justify-content: space-between; }
  .hero__heading:before {
    left: -24px; } }

@media (min-width: 1088px) {
  .hero__callback-btn {
    display: flex;
    justify-content: space-between; }
  .hero__text {
    max-width: 50%;
    height: 100%; }
  .hero__main-logo {
    width: 50%;
    height: 307px; }
  .hero__main-wrapper {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 1440px) {
  .hero {
    padding: 42px 30px 41px 34px; }
  .hero__nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: visible; }
  .hero__heading:before {
    left: -34px; } }

.brand .brand__title {
  padding: 16px;
  height: 100%;
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%); }

.brand {
  padding-bottom: 24px;
  border-bottom: 1px solid #D9FFF5; }

.brand .show-link {
  display: none; }

.brand__items {
  display: none; }

.brand .swiper-slide {
  margin-top: 16px;
  padding-left: 16px; }

.brand__item {
  width: 240px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  transition: transform .7s; }
  .brand__item .brand-logo {
    padding-left: 16px; }
  .brand__item:hover {
    cursor: pointer;
    transform: scale(0.98);
    border: 2px solid #FF3E79; }
    .brand__item:hover .link-btn__arrow {
      left: 60%; }

@media (min-width: 560px) {
  .brand--swiper {
    display: none; }
  .brand .show-link {
    display: block;
    margin-top: 24px;
    margin-bottom: 8px; }
    .brand .show-link:hover {
      cursor: pointer;
      color: #9A1A1A; }
  .brand .show-link {
    margin-left: 16px; }
  .brand__items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    margin-top: 24px;
    height: 160px;
    overflow-y: hidden; }
    .brand__items .brand__item {
      margin-right: 24px;
      margin-bottom: 16px; } }

@media (min-width: 768px) {
  .brand {
    padding-bottom: 32px; }
    .brand .brand__title {
      padding-left: 24px; }
    .brand .show-link {
      margin-left: 24px; }
  .brand__items {
    padding-left: 24px; }
    .brand__items .brand__item {
      margin-bottom: 16px;
      width: 224px; } }

@media (min-width: 1020px) {
  .brand {
    padding-bottom: 50px; }
    .brand .brand__title {
      padding-left: 32px; }
    .brand .show-link {
      margin-left: 32px; }
    .brand .brand__items {
      padding-left: 32px; }
      .brand .brand__items .brand__item {
        width: 240px;
        margin-right: 32px;
        margin-bottom: 16px; } }

@media (min-width: 1440px) {
  .brand .brand__items .brand__item {
    width: 240px;
    margin-right: 32px;
    margin-bottom: 16px; } }

.repair .repair__title {
  padding: 16px;
  height: 100%;
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%); }

.repair {
  padding-bottom: 24px;
  border-bottom: 1px solid #D9FFF5; }

.repair .show-link {
  display: none; }

.swiper--repair {
  margin-top: 16px; }
  .swiper--repair .swiper-slide {
    padding-left: 16px; }

.repair__items {
  display: none; }

.repair__item {
  position: relative;
  width: 240px;
  height: 160px;
  background-color: #FFFFFF;
  border-radius: 6px;
  transition: transform .7s, background 1s; }
  .repair__item:hover {
    cursor: pointer;
    transform: scale(0.98);
    border: 2px solid #FF3E79; }
    .repair__item:hover .link-btn__arrow {
      left: 60%; }
  .repair__item .repair__item-title {
    padding-top: 16px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; }
  .repair__item .link-btn {
    position: absolute;
    right: 16px;
    bottom: 16px; }

.strange:hover {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 65px;
  background-image: url(./static/fray.png); }

@media (min-width: 560px) {
  .swiper--repair {
    display: none; }
  .repair .show-link {
    display: block;
    margin-top: 24px;
    margin-left: 16px; }
    .repair .show-link:hover {
      cursor: pointer;
      color: #9A1A1A; }
  .repair__items {
    display: flex;
    flex-wrap: wrap;
    height: 170px;
    margin-top: 24px;
    padding-left: 16px;
    overflow-y: hidden; }
    .repair__items .repair__item {
      width: 224px;
      margin-right: 16px; } }

@media (min-width: 768px) {
  .repair .repair__title {
    padding-left: 24px; }
  .repair .show-link {
    margin-left: 24px;
    margin-bottom: 32px; }
  .repair__items {
    padding-left: 24px; }
    .repair__items .repair__item {
      width: 224px;
      margin-right: 24px;
      margin-bottom: 24px; } }

@media (min-width: 1440px) {
  .repair {
    padding-bottom: 0; }
    .repair .repair__title {
      padding-left: 32px; }
    .repair .show-link {
      margin-left: 24px;
      margin-bottom: 50px; }
  .repair__items {
    padding-left: 32px; }
    .repair__items .repair__item {
      width: 240px;
      margin-right: 32px;
      margin-bottom: 24px; } }

.price .price__title {
  padding: 16px;
  height: 100%;
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%); }

.price {
  padding-bottom: 24px;
  border-bottom: 1px solid #D9FFF5; }

.price .price__title {
  height: 100%; }

.price--swiper .swiper-slide {
  margin-top: 16px;
  padding-left: 8px; }

.price__items {
  display: none; }

.price__item {
  width: 240px;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 6px; }
  .price__item-wrapper {
    position: relative;
    padding: 16px 0 0 16px;
    margin-right: 16px; }
    .price__item-wrapper .price--button {
      position: absolute;
      bottom: 0;
      right: 0; }

.item-container {
  height: 52px;
  margin-bottom: 16px; }

.price__item-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.72;
  color: #7E7E82; }

.price__item-text {
  padding-top: 4px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21; }

.price--button {
  position: absolute;
  bottom: 0;
  right: 0; }

.price__tax-text {
  padding: 16px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21; }

.price__commercial {
  width: 220px;
  padding-left: 16px; }
  .price__commercial:hover {
    cursor: pointer; }
  .price__commercial svg {
    margin-left: 5px;
    transform: translateY(1px); }
  .price__commercial .price__commercial-link {
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; }
    .price__commercial .price__commercial-link:hover {
      color: #9A1A1A; }

@media (min-width: 600px) {
  .price__tax {
    width: 421px; }
  .price__tax-text {
    padding-left: 24px; }
  .price__commercial {
    padding-left: 24px;
    width: 100%; } }

@media (min-width: 768px) {
  .price--swiper {
    display: none; }
  .price {
    padding-bottom: 47px; }
    .price .price__title {
      padding-left: 24px; }
  .price__items {
    display: flex;
    flex-flow: column;
    margin: 32px 24px 24px; }
  .price__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21; }
    .price__item:nth-child(2) {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px; }
    .price__item:last-child {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px; }
  .price--heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;
    background-color: #F8F8F8; }
  .price__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%; }
    .price__item-content span {
      display: inline-block; }
    .price__item-content span:first-child {
      min-width: 348px;
      margin-right: 24px; }
    .price__item-content span:nth-child(2) {
      min-width: 74px;
      margin-right: 22px; }
    .price__item-content span:nth-child(3) {
      min-width: 81px;
      margin-right: 20px; } }

.price__item:not(:first-child):not(:last-child) {
  position: relative; }
  .price__item:not(:first-child):not(:last-child):after {
    content: '';
    width: 97%;
    height: 1px;
    position: absolute;
    left: 15px;
    bottom: 0;
    background-color: #EAEAEA; }

@media (min-width: 1440px) {
  .price {
    padding-bottom: 50px; }
    .price .price__title {
      padding-left: 32px; }
  .price__items {
    margin: 32px 32px; } }

.footer {
  padding: 16px 16px 19px; }

.footer__items {
  text-align: center; }
  .footer__items .footer__item:not(:last-child) {
    margin-bottom: 16px; }

.footer__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #7E7E82;
  opacity: 0.73; }

@media (min-width: 768px) {
  .footer {
    padding: 32px 24px 25px; }
  .footer__items {
    display: flex;
    justify-content: space-between;
    align-items: start; }
    .footer__items .footer__item {
      width: 100%; }
  .footer__item:first-child .footer__item-text {
    text-align: start; }
  .footer__item:nth-child(2) .footer__item-text {
    text-align: start; }
  .footer__item:last-child .footer__item-text {
    text-align: end; } }

.aside {
  width: 320px;
  height: 100vh;
  position: fixed;
  top: -120%;
  background-color: #FFFFFF; }

.show--aside {
  transform: translateY(120%);
  z-index: 2; }

.aside__header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 18px 24px 0 24px;
  margin-bottom: 50px;
  background-color: #FFFFFF; }
  .aside__header .aside__btn {
    margin-right: 16px; }
  .aside__header .aside--search {
    position: absolute;
    top: 25px;
    right: 24px; }

.aside__logo {
  margin-right: 78px; }

.aside__nav {
  padding: 0 24px 0; }

.aside__item {
  position: relative;
  margin-bottom: 32px; }

.aside__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  transition: all 0.5s; }
  .aside__link:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82; }
    .aside__link:focus::after {
      content: '';
      position: absolute;
      left: -24px;
      top: -4px;
      width: 4px;
      height: 32px;
      background-color: #41F6D7;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
  .aside__link:hover {
    color: #9A1A1A; }

.aside__footer {
  position: absolute;
  bottom: 0;
  padding-left: 24px;
  padding-bottom: 32px; }
  .aside__footer .callback-icons {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    width: 152px; }

.aside__mail {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #1B1C21; }

.aside__phone {
  display: block;
  margin-top: 12px;
  margin-bottom: 40px;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21; }

.local__items {
  display: flex; }
  .local__items .local__item {
    margin-right: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; }
    .local__items .local__item .local__link {
      text-decoration: none;
      color: #1B1C21; }
      .local__items .local__item .local__link:focus {
        color: #7E7E82; }

.local--active {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82; }

@media (max-width: 768px) and (min-width: 320px) {
  .aside {
    width: 100%;
    max-width: 360px; } }

@media (max-height: 800px) {
  .aside__header {
    margin-bottom: 26px; }
  .aside__item {
    margin-bottom: 24px; } }

@media (max-height: 676px) {
  .aside__header {
    margin-top: 18px;
    padding-top: 0; }
  .aside__footer {
    padding-bottom: 12px; }
  .aside__phone {
    margin-bottom: 8px; } }

@media (max-width: 1088px) {
  .aside {
    box-shadow: 10px 0 50px #DDDDDD; } }

.modal__heading {
  position: relative; }
  .modal__heading:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    width: 4px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41F6D7; }

.modal {
  position: absolute;
  top: 0;
  right: -2000px;
  min-width: 320px;
  width: 100%;
  max-width: 440px;
  height: 100vh;
  background-color: #FFFFFF;
  transition: transform 0.7s cubic-bezier(0.85, 0, 0.15, 1);
  outline: 1px solid #D9FFF5;
  box-shadow: -10px 0 50px #DDDDDD; }

.show--modal {
  transform: translateX(-2000px);
  z-index: 11; }

.modal__wrapper {
  position: relative;
  padding: 24px 16px 0; }

.modal__heading {
  margin-top: 32px;
  margin-bottom: 32px; }

.form__input {
  height: 48px; }

.form__area {
  height: 118px;
  resize: none; }

.form__input, .form__area {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82; }

.form__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82; }
  .form__text-link {
    text-decoration: none;
    color: #FF3E79; }
    .form__text-link:hover {
      cursor: pointer; }

.form {
  position: relative; }
  .form .button {
    position: absolute;
    margin-top: 19px;
    right: 0; }

@media (min-width: 768px) {
  .modal__wrapper {
    padding: 40px 32px 0; }
  .modal__btn {
    position: absolute;
    left: -65px; }
  .modal__heading {
    margin-top: 8px;
    margin-bottom: 24px; }
    .modal__heading:before {
      left: -32px; } }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  opacity: .95; }


/*# sourceMappingURL=style.css.map*/