@import "variables";

.aside {
  width: 320px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1000px;
  background-color: $secondary-color;

  z-index: 3;

}

.show--aside {
  transform: translateX(1000px);

}

.aside__wrapper {
  position: relative;
  min-height: 680px;
  height: 100vh;
  max-height: 1024px;
}

.aside__header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 18px 24px 0 24px;
  margin-bottom: 50px;
  background-color: $secondary-color;

  .aside__btn {
    margin-right: 16px;
  }

  .aside--search {
    position: absolute;
    top: 25px;
    right: 24px;
  }
}

.aside__logo {
  margin-right: 78px;
}


.aside__nav {
  padding: 0 24px 0;
}


.aside__item {
  position: relative;
  margin-bottom: 32px;
}

.aside__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: $main-text-color;
  transition: all 0.5s;

  &:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: $gray;




    &::after {
      content: '';
      position: absolute;
      left: -24px;
      top: -4px;
      width: 4px;
      height: 32px;
      background-color: $decorate-color;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  &:hover {
    color: $hover-color;
  }
}


.aside__footer {
  position: absolute;
  bottom: 0;
  padding-left: 24px;
  padding-bottom: 32px;

  .callback-icons {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    width: 152px;
  }
}

.aside__mail {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: $main-text-color;
}

.aside__phone {
  display: block;
  margin-top: 12px;
  margin-bottom: 40px;

  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;

  color: $main-text-color;
}

.local__items {
  display: flex;

  .local__item {

    margin-right: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: $main-text-color;

    .local__link {
      text-decoration: none;
      color: $main-text-color;

      &:focus {
        color: $gray;
      }
    }
  }
}

.local--active {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: $gray;
}



@media (max-height: 800px) {
  .aside__header {
    margin-bottom: 26px;
  }

  .aside__item {
    margin-bottom: 24px;
  }
}

@media (max-height: 676px) {
  .aside__header {
    margin-top: 18px;
    padding-top: 0;

    .aside--search {
      top: 7px;
    }
  }

  .aside__footer {
    padding-bottom: 12px;
  }

  .aside__phone {
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) and (min-width: 320px){
  .aside {
    width: 100%;
    max-width: 360px;

  }
}

@media (max-width: 1088px) {
  .aside {
    transition: transform 0.7s cubic-bezier(0.85, 0, 0.15, 1);
    box-shadow: 10px 0 50px $gray-lighten;
  }
}

@media (min-width: 1088px) {
  .aside {
    z-index: 1;
  }
}
