@import "variables";

.brand {
  @extend %section-footer;

  .show-link {
    display: none;
  }

  &__items {
    display: none;
  }

  .brand__title {
    @extend %section-header;
  }

  .swiper-slide {
    margin-top: 16px;
    padding-left: 16px;
  }
}

.brand__item {
  width: 240px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $secondary-color;
  border-radius: 6px;
  transition: transform .7s;

  .brand-logo {
    padding-left: 16px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    border: 2px solid $action-color;

    .link-btn__arrow {
      left: 60%;
    }
  }
}


@media (min-width: 560px) {
  .brand--swiper {
    display: none;
  }

  .brand {
    .show-link {
      display: block;
      margin-top: 24px;
      margin-bottom: 8px;

      &:hover {
        cursor: pointer;
        color: $hover-color;
      }
    }

    .show-link {
      margin-left: 16px;
    }
  }

  .brand__items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    margin-top: 24px;
    height: 160px;
    overflow-y: hidden;

    .brand__item {
      margin-right: 24px;
      margin-bottom: 16px;
    }
  }
}

@media (min-width: 768px) {
  .brand {
    padding-bottom: 32px;

    .brand__title {
      padding-left: 24px;
    }

    .show-link {
      margin-left: 24px;
    }
  }

  .brand__items {
    padding-left: 24px;

    .brand__item {
      margin-bottom: 16px;
      width: 224px;
    }
  }
}

@media (min-width: 1020px) {
  .brand {
    padding-bottom: 50px;

    .brand__title {
      padding-left: 32px;
    }

    .show-link {
      margin-left: 32px;
    }


    .brand__items {
      padding-left: 32px;

      .brand__item {
        width: 240px;
        margin-right: 32px;
        margin-bottom: 16px;
      }
    }
  }

}

@media (min-width: 1440px) {
  .brand {

    .brand__items {




      .brand__item {
        width: 240px;
        margin-right: 32px;
        margin-bottom: 16px;
      }
    }


  }


}

