@import "variables";

.footer {
  padding: 16px 16px 19px;
}

.footer__items {
  text-align: center;

  .footer__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.footer__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: $gray;
  opacity: 0.73;
}

@media (min-width: 768px) {
  .footer {
    padding: 32px 24px 25px;
  }

  .footer__items {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .footer__item {
      width: 100%;
    }
  }

  .footer__item {
    &:first-child {
      .footer__item-text {
        text-align: start;
      }

    }

    &:nth-child(2) {
      .footer__item-text {
        text-align: start;
      }

    }

    &:last-child {
      .footer__item-text{
        text-align: end;
      }

    }
  }
}


