@import "variables";

.footer {
  padding: 16px 16px 19px;
}

.footer__items {
  text-align: center;

  .footer__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.footer__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: $gray;
  opacity: 0.72;
}
