@import "variables";

.header {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 88px;
  background-color: $secondary-color;
  border-bottom: 1px solid $decorate-color-lighten;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 51px;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__callback-icons {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 96px;

  &::before {
    content: '';
    position: absolute;
    height: 32px;
    width: 0;
    border: 1px solid $gray-white;
    border-radius: 2px;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .header__wrapper {
    padding: 0 20px;
  }

  .header__logo {
    padding-left: 24px;
  }

  .header__burger-wrapper {

    &::after {
      content: '';
      position: absolute;
      height: 32px;
      width: 0;
      border: 1px solid $gray-white;
      border-radius: 2px;
      top: 50%;
      left: 88px;
      transform: translateY(-50%);
    }
  }
  .header__logo-items {
    .callback-icons {
      display: flex;
      justify-content: space-between;
      width: 152px;
    }
  }

  .header__icons {
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 47%;
  }

}

.header--burger {
  transform: translateY(120%);
}

@media (min-width: 1088px) {
  .header {
    display: none;
  }
}
