@import "variables";

.hero {
  padding: 24px 16px;
  @extend %section-footer;
}



.hero__nav-items {
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;

  margin-top: 32px;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;

  .hero__item {
    display: flex;
    align-items: center;
    height: 40px;
    white-space: nowrap;


    &:not(:last-child) {
      margin-right: 7px;
    }


  }
}


.hero__subtitle {
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;

  color: $gray;

  &:focus {
    border: 2px solid $decorate-color-light;
    border-radius: 6px;
    background-color: $secondary-color;
  }

  &:hover {
    border: 1px solid $hover-color;
    border-radius: 6px;
    color: $hover-color;
  }
}

.hero__heading {
  @extend %heading;
}

.hero__text-container {
  margin-bottom: 16px;
  padding-right: 10px;

  height: 90px;
  overflow: hidden;

  .hero__text-content {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $main-text-color;



    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.show-link {
  margin-top: 13px;
  padding-left: 16px;
  margin-bottom: 16px;
  background-image: url("../img/down.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 7px 10px;

  &:hover {
    background-size: 7px 13px;
  }

  &__text {
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    &:hover {
      cursor: pointer;
      color: $hover-color;

    }
  }
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hero__callback-btn {
  display: none;
}

.hero__main-wrapper {
  margin-top: 24px;
}

.hero__main-logo {
  min-height: 176px;
  height: 40vw;
  background-image: url("../img/cps.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.callback--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;


  background-color: transparent;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;

  color: $main-text-color;

  &:not(:last-child) {
    margin-right: 30px;
  }

  .btn {
    margin-left: 8px;
  }
}


@media (min-width: 768px) {
  .hero {
    padding: 24px;
  }

  .hero__text-container {
    height: 160px;
    padding-right: 36px;
  }

  .hero__text {
    max-width: 50%;
    height: 100%;
  }

  .hero__main-logo {
    width: 50%;
    height: 260px;
    border-radius: 6px;
  }

  .hero__main-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .hero__heading {
    &:before {
      left: -24px;
    }
  }
}


@media (min-width: 1088px) {
  .hero__callback-btn {
    display: flex;
    justify-content: space-between;
  }

  .hero__text {
    max-width: 50%;
    height: 100%;
  }

  .hero__main-logo {
    width: 50%;
    height: 307px;
  }

  .hero__main-wrapper {
    display: flex;
    justify-content: space-between;
  }
}


@media (min-width: 1440px) {
  .hero {
    padding: 42px 30px 41px 34px;
  }

  .hero__nav-items {
    //margin-top: 8px;
  }

  .hero__nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: visible;
  }

  .hero__heading {
    &:before {
      left: -34px;
    }
  }

}


