@import "variables";

.modal {
  position: absolute;
  top: 0;
  right: -2000px;
  min-width: 320px;
  width: 100%;
  max-width: 440px;
  height: 100vh;

  background-color: $secondary-color;
  transition: transform 0.7s cubic-bezier(0.85, 0, 0.15, 1);
  outline: 1px solid $decorate-color-lighten;
  box-shadow: -10px 0 50px $gray-lighten;

}


.show--modal {
  transform: translateX(-2000px);
  z-index: 11;
}

.modal__wrapper {
  position: relative;
  padding: 24px 16px 0;
}

.modal__heading {
  @extend %heading;
  margin-top: 32px;
  margin-bottom: 32px;
}

.form__input {
  height: 48px;
}

.form__area {
  height: 118px;
  resize: none;
}

.form__input, .form__area {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid $gray-white;
  border-radius: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: $gray;

}

.form__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: $gray;

  &-link {
    text-decoration: none;
    color: $action-color;

    &:hover {
      cursor: pointer;
    }
  }
}

.form {
  position: relative;
  .button {
    position: absolute;
    margin-top: 19px;
    right: 0;
  }
}

@media (min-width: 768px) {
  .modal__wrapper {
    padding: 40px 32px 0;
  }

  .modal__btn {
    position: absolute;
    left: -65px;
  }

  .modal__heading {
    margin-top: 8px;
    margin-bottom: 24px;

    &:before {
      left: -32px;
    }
  }
}
