@import "variables";

.repair {
  @extend %section-footer;

  .show-link {
    display: none;
  }

  .repair__title {
    @extend %section-header;
  }
}

.swiper--repair {
  margin-top: 16px;
  .swiper-slide {
    padding-left: 16px;
  }
}

.repair__items {
  display: none;
}

.repair__item {
  position: relative;
  width: 240px;
  height: 160px;

  background-color: $secondary-color;
  .repair__item-title {
    padding-top: 16px;
    padding-left: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: $main-text-color;
  }

  .link-btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}

@media (min-width: 560px) {
  .swiper--repair {
    display: none;
  }
  .repair {
    .show-link {
      display: block;
      margin-top: 24px;
      margin-left: 16px;
    }
  }


  .repair__items {
    display: flex;

    flex-wrap: wrap;

    height: 170px;
    margin-top: 24px;
    padding-left: 16px;

    overflow-y: hidden;

    .repair__item {
      width: 224px;
      margin-right: 16px;
    }
  }
}

@media (min-width: 768px) {
  .repair {
    .repair__title {
      padding-left: 24px;
    }

    .show-link {
      margin-left: 24px;
      margin-bottom: 32px;
    }
  }
  .repair__items {
    padding-left: 24px;


    .repair__item {
      width: 224px;
      margin-right: 24px;
    }
  }
}


@media (min-width: 1440px) {
  .repair {
    padding-bottom: 0;
    .repair__title {
      padding-left: 32px;
    }

    .show-link {
      margin-left: 24px;
      margin-bottom: 50px;
    }
  }
  .repair__items {
    padding-left: 32px;


    .repair__item {
      width: 240px;
      margin-right: 32px;
    }
  }
}
